<div class="d-flex flex-column mx-auto my-5 p-2">
    <span class="text-info text-capitalize">@totalWordsCount words in the file.</span>

    <div class="d-flex flex-column me-5 mt-2">
        <div class="my-1">
            <span>Choose words count to translate: @(wordsToTranslate > 0 ? wordsToTranslate : "")</span>
        </div>

        @if (totalWordsCount > 1)
        {
            <input @bind-value="wordsToTranslate"
                   type="range"
                   class="form-range"
                   min="1"
                   max="@totalWordsCount"
                   step="1"
                   id="wordsToTranslate">
        }
    </div>

    @if (wordsToTranslate > 0)
    {
        <div class="d-flex justify-content-start gap-5 w-50 mt-2">
            <button class="btn btn-primary" @onclick="SelectEnglishToBulgarian">
                EN-BG
            </button>
            <button class="btn btn-primary" @onclick="SelectBulgarianToEnglish">
                BG-EN
            </button>
        </div>
    }
</div>