@if (showHintsTextArea)
{
    <div class="mt-2">
        <label for="hintsArea" class="form-label">Hints:</label>
        <textarea type="text" @bind="hintsText" class="form-control" id="hintsArea" rows="@(hintsTextAreaRows)" />
    </div>
}
else
{
    <div class="text-end">
        <span class="text-info" @onclick="OnHintRequired">Need a hint?</span>
    </div>
}
